
# ~BrieFlow analysis configuration file~

# All paths are resolved relative to the directory the workflow is run from.

# Parameters:
all:
  root_fp: brieflow_output/
preprocess:
  sbs_samples_fp: config/sbs_samples.tsv
  sbs_combo_fp: config/sbs_combo.tsv
  phenotype_samples_fp: config/phenotype_samples.tsv
  phenotype_combo_fp: config/phenotype_combo.tsv
  sbs_data_format: tiff
  sbs_data_organization: tile
  sbs_channel_order:
  - 405_nm_Ex
  - 561_nm_Ex_-_1
  - 561_nm_Ex_-_2
  - 638_nm_Ex_-_1
  - 638_nm_Ex_-_2
  sbs_channel_order_flip: false
  sbs_n_z_planes: null
  sbs_metadata_samples_df_fp: config/sbs_metadata_samples.tsv
  phenotype_data_format: tiff
  phenotype_data_organization: tile
  phenotype_channel_order:
  - 405_nm
  - 488_nm
  - 561_nm
  - 638_nm
  phenotype_channel_order_flip: false
  phenotype_round_order:
  - 1
  phenotype_n_z_planes: 2
  phenotype_metadata_samples_df_fp: config/phenotype_metadata_samples.tsv
  sample_fraction: 0.05
sbs:
  alignment_method: DAPI
  channel_names:
  - DAPI
  - G
  - T
  - A
  - C
  upsample_factor: 2
  skip_cycles_indices:
  - 9
  manual_background_cycle_index: null
  manual_channel_mapping: null
  extra_channel_indices:
  - 0
  max_filter_width: 3
  spot_detection_method: standard
  dapi_cycle: 1
  cyto_cycle: 1
  cyto_cycle_index: 0
  dapi_index: 0
  cyto_index: 4
  segmentation_method: cellpose
  gpu: false
  reconcile: contained_in_cells
  segment_cells: false
  df_barcode_library_fp: config/barcode_library.tsv
  threshold_peaks: 125
  call_reads_method: median
  bases:
  - G
  - T
  - A
  - C
  q_min: 0
  error_correct: false
  sort_calls: peak
  barcode_type: simple
  barcode_col: prefix
  prefix_col: null
  peak_width: 5
  nuclei_diameter: 11.888212206450685
  cell_diameter: 20.310825007719227
  nuclei_flow_threshold: 0.4
  nuclei_cellprob_threshold: 0.0
  cell_flow_threshold: 1
  cell_cellprob_threshold: 0
  cyto_model: cyto3
